<div fxLayout="row" fxLayout="row wrap">
    <cdk-bar-graph fxFlex="37.5" fxFlex.lt-sm="100" fxFlex.sm="50"></cdk-bar-graph>
    <cdk-doughnut-graph fxFlex="37.5" fxFlex.lt-sm="100" fxFlex.sm="50"></cdk-doughnut-graph>
    <cdk-weather fxFlex="25" fxFlex.lt-sm="100" fxFlex.sm="100"></cdk-weather>
</div>
<div fxLayout="row" fxLayout="row wrap">
    <cdk-line-graph fxFlex="75" fxFlex.lt-sm="100" fxFlex.sm="50"></cdk-line-graph>
    <cdk-share-price fxFlex="25" fxFlex.lt-sm="100" fxFlex.sm="50"></cdk-share-price>
</div>
<div fxLayout="row" fxLayout="row wrap">
</div>


<div fxLayout="row" fxLayout="row wrap" >
    <cdk-world-map fxFlex="100" [tableData]="tableData"></cdk-world-map>
    <!-- <button mat-button (click)="openDialog()" *ngFor="let country of content.data">{{country.Country}}</button> -->
</div>